form#userInfoForm {
    padding: 15px;
}

form#userInfoForm p {
    font-family: 'Noto Sans';
}

form#userInfoForm img.editInfo {
    width: 20px;
    height: 20px;
}

form#userInfoForm img.returnInfo {
    width: 20px;
    height: 20px;
}

form button#UserInfoSubmit {
    position: absolute;
    bottom: 20%;
    border: none;
    width: 100px;
    align-self: center;
    font-family: 'DS Sofachrome';
    font-size: 15px;
    background-color: transparent;
    color: whitesmoke;
}

@media (min-width: 600px) {
    form#userInfoForm {
        max-width: 500px;
        align-self: center;
    }
    form#userInfoForm p {
        font-size: 25px;
    }

    form#userInfoForm label {
        font-size: 20px;
    }

    form#userInfoForm img.editInfo {
        width: 30px;
        height: 30px;
    }

    form#userInfoForm img.returnInfo {
        width: 30px;
        height: 30px;
    }

    form button#UserInfoSubmit {
        bottom: 7%;
        font-size: 20px;
    }
}
