section#UserRootSection {
    flex-grow: 1;
    font-family: 'Noto Sans';
    font-weight: bold;
}

section#UserRootSection div.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30%;
}

section#UserRootSection p.modalDelete {
    padding-top: 20px;
    font-size: 18px;
    text-align: center;
}

section#UserRootSection p.modalDelete ~ div {
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding-top: 30px;
    justify-content: center;
}

section#UserRootSection button {
    border: none;
    background-color: transparent;
    font-family: 'DS Sofachrome';
    font-size: 12px;
    color: whitesmoke;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

li {
    display: flex;
    gap: 10px;
    padding: 0 30px;
}

li>article.folderArticle p {
    word-wrap: break-word;
    max-width: 200px;
}

li > article.folderArticle ~ img {
    align-self: flex-end;
    padding-bottom: 4px;
}

li > p {
    align-self: center;
    overflow-wrap:normal;
    width: 160px;
}

li > article:not(.folderArticle) {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

li > article:not(.folderArticle) > p {
    text-decoration: underline;
    max-width: 200px;
}

@media (min-width: 600px) {
    section#UserRootSection{
        overflow: auto;
    }

    section#UserRootSection div.modal-container{
        max-width: 30%;
        min-width: 550px;
    }

    section#UserRootSection p.modalDelete{
        font-size: 24px;
    }

    section#UserRootSection button{
        font-size: 15px;
    }

    ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-flow: row;
        grid-auto-rows: 1fr;
        column-gap: 1fr;
    }

    li{
        height: fit-content;
        gap: 20px;
        padding: 0 30px 0 60px;
    }

    li>article.folderArticle{
        height: min-content;
    }

    li>article.folderArticle p{
        max-width: 120px;
        font-size: 30px;
    }

    li > article.folderArticle ~ img{
        align-self: flex-start;
        padding-top: 65px ;
    }

    li > article:not(.folderArticle) {
        flex-direction: column;
    }

    li > article:not(.folderArticle) img{
        max-width: 100px;
        align-self: flex-start;
    }

    li > article:not(.folderArticle) > p{
        font-size: 30px;
        word-wrap: break-word;
        max-width: 150px;
    }
}
