button#returnHome {
    background-color: transparent;
    background-image: url('/public/return.svg');
    width: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    border: none;
}

@media (min-width: 600px) {
    button#returnHome {
        width: 50px;
        background-size: 50px;
    }
}