nav#UserInfo {
    gap: 0;
    justify-content: end;
    padding-right: 10px;
}

button#returnUserHome {
    background-color: transparent;
    background-image: url('/public/return.svg');
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    border: none;
}

@media (min-width: 600px) {

button#returnUserHome {
    width: 50px;
    height: 50px;
    background-size: 50px;
}


}