.modal {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.modal-container {
    background-color: rgb(38,38,38);
    background-image: url('/public/background.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid whitesmoke;
    width: 80%;
    height: 60%;
    border-radius: 5px;
    position: relative;
    padding: 1rem;
    background-blend-mode: overlay;
}

div.modal div.modal-container button#modal-close {
    position: absolute;
    top: 2px;
    right: 16px;
    width: 20px;
    height: 20px;
    margin-bottom: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    font-family: 'DS Sofachrome';
    font-size: 20px;
    color: whitesmoke;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 60%;
}

header h2 {
    text-align: center;
    margin-bottom: 25px;
    padding-top: 10px;
}

form label {
    font-size: 15px;
}

form input[type='submit'] {
    position: absolute;
    bottom: 55px;
    border: none;
    width: 150px;
    background-color: transparent;
    color: whitesmoke;
    align-self: center;
    font-family: 'DS Sofachrome';
    font-size: 15px;
}
