section#logoutSection {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    flex-grow: 0;
    padding-right: 10px;
}

p#infoUser {
    font-family: 'Noto Sans';
    font-size: 24px;
    text-decoration: underline;
    cursor: pointer;
}

button#logoutButton {
    border: none;
    background-color: transparent;
    font-family: 'DS Sofachrome';
    font-size: 12px;
    color: whitesmoke;
}

@media (min-width: 600px) {
    section#logoutSection{
        position: absolute;
        top: 40px;
        right: 10px;
        flex-direction: column;
    }
    p#infoUser {
        font-size: 30px;
    }
    button#logoutButton {
        font-size: 16px;
    }
}

@media (min-width: 700px){
    section#logoutSection{
        top: 60px;
        flex-direction: row;
    }
}