header#mainHeader {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    background-color: rgb(38,38,38)
}

header#mainHeader a {
    text-decoration: none;
}

header#mainHeader img {
    width: 80px;
}

header#mainHeader h1 {
    font-size: 20px;
}

@media (min-width: 600px) {
    header#mainHeader {
        padding: 40px;
    }
}
