p.passwordRegisterError {
    color: whitesmoke;
    font-family: 'Noto Sans';
}

section#registerError {
    position: absolute;
    left: 10%;
    display: flex;
    flex-direction: row-reverse;
    align-items:flex-start;
    width: 260px;
    height: 100px;
}

section#registerError p.registerErrorText {
    font-size: 16px;
    font-family: 'Noto Sans';
    margin-bottom: 0;
    height: 100px;
   
}

section#registerError img {
    width: 50px;
    height: 50px;
}

@media (min-width: 600px) {
    main#Root div.modal-container{
        display: flex;
        flex-direction: column;
    }
    form.registerForm {
        width: 40%;
        align-self: center;
    }

    section#registerError {
        position: relative;
        left:0;
        align-self: center;
    }
}