footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(38,38,38)
}

footer > p.footerP {
    font-size: 10px;
}

footer > p > img {
    width: 10px;
}

@media (min-width: 600px) {
    footer > p.footerP {
        font-size: 12px;
    }
}
