nav {
    align-self: flex-end;
    width: 80px;
    display: flex;
    gap: 10px;
    padding: 20px 0;
}

nav div.modal-container {
    height: 35%;
}

form#UserRootNav {
    display: inline;
}

#newFolder {
    background-color: transparent;
    background-image: url('/public/folder.png');
    width: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    border: none;
}

@media (min-width: 600px) {
    nav {
        width: 140px;
        gap: 20px;
        padding: 40px 0;
    }

    nav div.modal-container{
        max-width: 30%;
        min-width: 550px;
    }

    #newFolder {
        width: 50px;
        background-size: 50px;
        height: 50px;
    }

    #newFolderName{
        font-size: 20px;
    }
}
