form.loginForm {
    padding-top: 30px;
}

section#loginError {
    position: absolute;
    top: 250px;
    left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 250px;
    height: 105px;
}

section#loginError p#loginErrorText {
    font-size: 20px;
    font-family: 'Noto Sans';
    margin-bottom: 0;
    height: 100px;
}

section#loginError img {
    width: 50px;
    height: 50px;
}

@media (min-width: 600px) {
    form.loginForm{
        width: 40%;
        align-self: center;
    }
    section#loginError {
        position: relative;
        top: 0;
        left: 0;
        align-self: center;
        align-items: flex-start;
        width: 300px;
    }
}