main#Root {
    display: flex;
    justify-content: center;
    align-items: center;
}

main#Root p {
    width: 80%;
    font-size: 18px;
    text-align: center;
    height: 80px;
    line-height: 150%;
    margin-bottom: 15%;
}

main#Root > div {
    display: flex;
    flex-direction: column;
}

main#Root button {
    width: 200px;
    height: 50px;
    padding: 10px;
    border: 3px solid whitesmoke;
    background-color: rgba(38, 38, 38, 0.7);
    font-family: 'DS Sofachrome';
    font-size: 15px;
    color: whitesmoke;
    margin-bottom: 5%;
}

@media (min-width: 600px) {
    main#Root p {
        font-size: 25px;
        width: 90%;
    }
    main#Root > div {
        flex-direction: row;
        gap: 150px;
    }
}
