li.fileLi {
    font-family: 'Noto Sans';
    font-weight: bold;
    padding-right: 15px;
}

li.fileLi div.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30%;
}

li.fileLi p.modalDelete {
    text-align: center;
}

li.fileLi p.modalDelete ~ div {
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding-top: 30px;
    justify-content: center;
}

li.fileLi button {
    border: none;
    background-color: transparent;
    font-family: 'DS Sofachrome';
    font-size: 12px;
    color: whitesmoke;
}

li.fileLi > article {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

@media (min-width: 600px) {
    section#FolderContentSection {
        overflow: auto;

    }
    li.fileLi p.modalDelete {
        font-size: 24px;
    }

    li.fileLi button {
        font-size: 15px;
    }

    li.fileLi div.modal-container{
        max-width: 30%;
        min-width: 550px;
    }
}