@import url('https://fonts.cdnfonts.com/css/ds-sofachrome');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.uploadIcon {
    width: 30px;
}

.deleteIcon {
    width: 20px;
}

.icon {
    width: 50px;
}

.empty {
    background-image: url('/public/placeholder.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50vw;
    height: 50vh;
}

a {
    color: whitesmoke;
}

a:visited {
    color: whitesmoke;
}

a:active {
    color: whitesmoke;
}

div.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    color: whitesmoke;
    font-family: 'DS Sofachrome';
}

div.App > main {
    flex-grow: 1;
    background-image: url('/public/background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(38, 38, 38,0.5);
    background-blend-mode: overlay;
}

input:not([type="submit"]){
    font-size: 25px;
}

p {
    font-size: 20px;
}

@media (min-width: 600px) {
    .uploadIcon {
        width: 50px;
    }

    .icon{
        width: 120px;
    }

    .empty {
        background-size: 30vh;
    }

    .deleteIcon{
        width: 40px;
    }
}
